<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= typeof title !== 'undefined' ? title : 'Owner' %></title>

    <link rel="stylesheet" href="/static/owner/owner.css" />
</head>
<body>
<div>
    <%- body %>
</div>

<script src="/static/owner/owner.js"></script>
</body>
</html>
